services:
  drones_as2_unizar_nano:
    image: drones_as2_unizar_nano
    build:
      context: ./docker-nano/
      dockerfile: Dockerfile
    container_name: drones_as2_unizar_nano
    environment:
      DISPLAY: $DISPLAY
      ROS_DOMAIN_ID: 3
      RMW_IMPLEMENTATION: rmw_cyclonedds_cpp
    privileged: true
    volumes:
      # X11
      - ~/.Xauthority:/root/.Xauthority
      # 
      - /dev/:/dev
      # By default, mount the current directory. Change to the line below for development
      - ./drone_ws:/root/drone_ws
      # - ./drones_unizar_dev_ws:/root/drones_unizar_dev_ws
      - ./bags:/root/bags
    network_mode: "host"
    command: tail -f /dev/null
